body {
  background: rgb(23, 23, 23);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 30rem;
  height: 45rem;
  background: #000;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);

}

.card .content {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 10px;
  background: crimson;
  left: 10%;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.card .content h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 25px;
  color: #fff
}

.card .content p {
  width: 80%;
  margin: 10px auto;
  font-size: 16px;
  transition: 0.5s;
  line-height: 25px;
  color: #fff;
  opacity: 0;
}

.card .content a {
  text-decoration: none;
  background-color: black;
  padding: 0.6rem 1rem;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  transition: 0.5s;
  opacity: 0;
  line-height: 25px;
}

.card:hover .content {
height: 100%;
width: 100%;
left: 0;
}

.card:hover .content p, 
.card:hover .content a {
  opacity: 1;
  transition-delay: 0.5s;
}

.card:hover .img-container img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5gitr s;
}